.button {
	display: inline;
	padding: 14px 50px;

	font-weight: var(--fw-semi-bold);

	color: var(--white);
	background-color: var(--btn-light);
	border-radius: 12px;
	border: 1px solid transparent;
	transform: scale(1);
}

.button:hover {
	background-color: var(--btn-dark);
	transform: scale(1.05);
}
.button:active {
	transform: scale(0.95);
}
