.container {
  display: inline-block;
  padding: 7px 14px;

  font-size: 12px;

  background-color: var(--rental-bg);
  color: var(--rental-text);

  border-radius: 35px;
}

.accent {
  font-weight: var(--fw-semi-bold);
  color: var(--btn-light);
}
