.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;

  transition: scale 250ms linear, color 250ms linear;
}

.link.active {
  color: var(--btn-light);
}

.link:hover,
.link:focus {
  color: var(--btn-light);
  scale: 1.1;
}
