.container {
	display: flex;

	row-gap: 30px;
	column-gap: 30px;
	flex-wrap: wrap;
	margin: 20px auto;
	width: 100%;
}
@media screen and (min-width: 480px) {
	.container {
		width: 480px;
	}
}

@media screen and (min-width: 768px) {
	.container {
		width: 768px;
	}
}

@media screen and (min-width: 1280px) {
	.container {
		width: 1280px;
	}
}
