@import-normalize; /* bring in normalize.css styles */

:root {
  --white: #ffffff;
  --gray-menu: #8a8a89;
  --gray-cards: rgba(18, 20, 23, 0.5);
  --gray-inactive: rgba(18, 20, 23, 0.2);

  --input-bg: #f7f7fb;
  --rental-bg: #f9f9f9;
  --rental-text: #363535;
  --input-border: rgba(138, 138, 137, 0.2);
  --btn-light: #3470ff;
  --btn-dark: #0b44cd;
  --text: #121417;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;

  --btn-animation: background-color 250ms ease, transform 250ms ease;

  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul,
ol,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
